.container{
    width: 80%;
    margin: auto;
    text-align: center;
}

.title{
    font-size: 2.5rem;
    font-family: 'Courier New', Courier, monospace;
    color: #623D59;
   
}

.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.photo_tree{
    grid-column: 1/ span 2 ;
    grid-row: 1 / span 2;
}


.photo_flower{
    grid-column: 2 / span 2;
}

.photo_sunset{
    grid-column: 1 / span 1;
    grid-row: 4 / span 5;
}

.photo_flower_sunset{
    grid-column: 2 / span 2;
    grid-row: 4 / span 4;
}